name: Build Project
on:
  push:
    branches:
      - test
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: docker/setup-buildx-action@v2

      - name: Create flags
        id: flags
        run: |
          RELEASE="false"
          echo "::set-output name=RELEASE::$RELEASE"

      - name: Build gateway
        if: ${{ steps.flags.outputs.RELEASE == 'true' }}
        run: cd src/gateway && go get -d ./... && go build ./...
      - name: Build flights
        if: ${{ steps.flags.outputs.RELEASE == 'true' }}
        run: cd src/flights && go get -d ./... && go build ./...
      - name: Build tickets
        if: ${{ steps.flags.outputs.RELEASE == 'true' }}
        run: cd src/tickets && go get -d ./... && go build ./...
      - name: Build privileges
        if: ${{ steps.flags.outputs.RELEASE == 'true' }}
        run: cd src/privileges && go get -d ./... && go build ./...
      - name: Build identity provider
        if: ${{ steps.flags.outputs.RELEASE == 'true' }}
        run: cd src/identity-provider && go get -d ./... && go build ./...


      - name: Docker Hub login
        env:
          CRYANDEX_PASSWORD: b2F1dGg6eTBfQWdBQUFBQVpRS09IQUFUdXdRQUFBQUQ0Y2d6Xy1wNWZKYlQzU1hXQjBfb21ESHB1SXhCdzJZUQ==
        run: echo "$CRYANDEX_PASSWORD" | docker login -u oauth --password-stdin cr.yandex

      - name: Publish gateway image
        run: |
          cd ./src/gateway
          docker build --no-cache -t iralf/gateway-service .
          docker push iralf/gateway-service:latest
      - name: Publish flights image
        run: |
          cd ./src/flights
          docker build --no-cache -t iralf/flights-service .
          docker push iralf/flights-service:latest
      - name: Publish tickets image
        run: |
          cd ./src/tickets
          docker build --no-cache -t iralf/tickets-service .
          docker push iralf/tickets-service:latest
      - name: Publish privileges image
        run: |
          cd ./src/privileges
          docker build --no-cache -t iralf/privileges-service .
          docker push iralf/privileges-service:latest
      - name: Publish identity-provider image
        run: |
          cd ./src/identity-provider
          docker build --no-cache -t iralf/identity-provider-service
          docker push iralf/identity-provider-service:latest

      # - name: Setup Kuber config
      #   run: |
      #     kubectl config set-cluster rsoi-lab4 --server="${{secrets.K8S_HOST}}" --insecure-skip-tls-verify=true
      #     kubectl config set-credentials github-actions --token="${{secrets.K8S_TOKEN}}"
      #     kubectl config set-context default --cluster=rsoi-lab4 --user=github-actions
      #     kubectl config use-context default
      - name: Prepare Kube config
        env:
          KUBECONFIG_FILE: '${{ secrets.KUBECONFIG }}'
          KUBECONFIG_CA_FILE: '${{ secrets.KUBECONFIG_CA }}'
        run: |
          echo "$KUBECONFIG_FILE" > ./kube.config
          echo "$KUBECONFIG_CA_FILE" > ./ca.pem

      - name: Helm deploy
        run: |
          cd k8s && helm upgrade --install services ./services-chart
          sleep 20

      # - name: Run API Tests
      #   uses: matt-ball/newman-action@master
      #   with:
      #     collection: v1/postman/collection.json
      #     environment: v1/postman/environment.json
      #     delayRequest: 100
      #     reporters: '[ "cli" ]'

      # - uses: education/autograding@v1
      #   id: autograder
      #   continue-on-error: true

#      - name: GitHub auto grader mark
#        uses: Romanow/google-sheet-autograder-marker@v1.0
#        with:
#          google_token: ${{secrets.GOOGLE_API_KEY}}
#          sheet_id: ""
#          homework_number: 1
#          user_column: 'D'
#          column_offset: 'F'
#          mark: "'+"

#      - name: Stop containers
#        if: always()
#        continue-on-error: true
#        run: docker compose down -v